@charset 'UTF-8';

body {
    font-family:initial;
    width: 100%;
    justify-content: center;
    align-content: center;
}

li {
    list-style: none;
}

input[type=text]:focus {
    font-size: 16px;
    outline: none;
}


nav {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    justify-content: flex-start;
    flex: 1;
}

nav > .m-nav {
    font-family: cursive;
    font-size: 25px;
    font-weight: bolder;
    margin: 10px 50px 0 100px;
    letter-spacing: 3px;
}

nav > .m-search {
    padding: 8px 2px 4px 5px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

nav > .m-search > span > button,
input {
    border: none;
    background-color: #fff;
}

nav > .m-event,
.m-ideas,
.m-sort,
.m-sign {
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 4px 0 60px;
}

section {
    padding: 20px 0;
}
section>.m-display {
    display: flex;
    flex-direction: column;
}
section>.m-display>.m-display-line {
display: flex;
justify-content: space-evenly;
margin: 20px 0;
}
section>.m-display>.m-display-line>.m-display-item>li:nth-child(1) {
   margin-bottom: 20px;
}
section>.m-display>.m-display-line>.m-display-item>li:nth-child(3),
section>.m-display>.m-display-line>.m-display-item>li:nth-child(4) {
font-size: 22px;
font-weight: bold;
}

section>.m-display>.m-display-line>.m-display-item>li:nth-child(2),
section>.m-display>.m-display-line>.m-display-item>li:nth-child(7) {
   color: #122253;
   font-weight: bold;
}









footer {
    display: flex;
    padding: 50px 0;
    text-align: left;
    border-top: 1px solid #ccc;
    background: #f0f0f0;
    justify-content: space-around;
}

footer > .m-HZ {
    width: 10%;
    margin-left: 30px;
}
footer>.m-HZ,
footer>.m-company,
footer>.m-bussiness,
footer>.m-help,
footer>.m-connect {
margin: 0 20px ;
}
footer>.m-HZ>li,
footer>.m-company>li,
footer>.m-bussiness>li,
footer>.m-help>li,
footer>.m-connect>li {
 font-weight: lighter;
padding: 5px 0;
}
.u-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 40px;
}

.u-HZ {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.u-logo  {
    background-color: #aaa;
    padding: 5px 5px;
    border-radius: 20px;
}

